<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.prod.mapper.ProdMapper">
	<select id="prodList" resultType="prod">
		select * from tbl_product order by 1 desc
	</select>
	
	<select id="searchProd" parameterType="int" resultType="prod">
		select * from tbl_product where prod_code = #{prodCode}
	</select>
	
	<select id="plusList" resultType="prod">
	<![CDATA[
		SELECT * FROM (SELECT * FROM tbl_product ORDER BY grade DESC) WHERE ROWNUM <= 4
		]]>
	</select>
</mapper>